<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="1030"
		android:versionName="1.30"
		package="carnero.csms"
		name="c:sms"
		android:installLocation="internalOnly" >
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<application
			android:label="@string/app_name"
			android:icon="@drawable/csms" >
		<receiver
				android:name=".csms_white"
				android:label="@string/app_name_white"
				android:icon="@drawable/csms" >
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_white" />
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="csmsNewMessage" />
			</intent-filter>
			<intent-filter>
				<action android:name="csmsTouch" />
			</intent-filter>
		</receiver>
		<receiver
				android:name=".csms_black"
				android:label="@string/app_name_black"
				android:icon="@drawable/csms" >
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_black" />
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="csmsNewMessage" />
			</intent-filter>
			<intent-filter>
				<action android:name="csmsTouch" />
			</intent-filter>
		</receiver>
		<receiver
				android:name=".notify"
				android:label="@string/app_name"
				android:icon="@drawable/csms" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
	</application>
</manifest>
